<link rel="stylesheet" href='/css/comments.css'>

<div id="content">

	<% @comments.each do |comment| %>
	<div class="comment">
		<div class="topic">
			<h3 class="topic_title">
				<a href="/topics/<%= comment.topic_id %>"><%= comment.topic_title %></a>
			</h3>
		</div>
		<div class="comment_wrapper">
			<p class="comment_body">
			<%= MARKDOWN.render(comment.body) %>
			</p>
			<!-- 	<form method="POST" action="/updatecomment">
					<input type="textarea" name="body" value="<%= comment.body %>">
					<input type="hidden" name="id" value="<%= comment.id %>">
					<input type="submit" value="edit">
				</form> -->
		</div>
			<p class="comment_data">
				<%= comment.created_at %> by <%= comment.author %> from <%= comment.location %>
			<p>
			<form id="delete_comment" method="POST" action="/xcomment">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="comment_id" value="<%= comment.id %>">
			<input type="hidden" name="topic_id" value="<%= comment.topic_id %>">
			<input type="submit" value="delete">
  		</form>		
	</div>
	<% end %>
</div>

<aside>
	<div id='aside_wrap'>
		<p id='login_status'>
			Logged in as: <%= currentuser_username %>
		</p>

		<form id="logout" method="POST" action="/logout">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Logout">
    </form>

		<h2 class='cta'>Display By:</h2>
		<form class='display_nav' action='/members/login' method='POST'>
			<input type='submit' name='newest' value='NEWEST FIRST'><br>
			<input type='submit' name='oldest' value='OLDEST FIRST'><br>
			<input type='submit' name='active' value='MOST ACTIVE'>
		</form>

	</div>
<aside>