<link rel="stylesheet" href='/css/comments.css'>

<div id="content">

	<% @comments.each do |comment| %>

	<div class="comment">
		<h2><a href="/topics/<%= comment.topic_id %>"><%= comment.topic_title %></a></h2>
		<div class="comment_member_data">
			<h4 class="comment_username"><%= comment.author %></h4>
			<img class="comment_avatar" src="<%= comment.avatar %>">
			<ul class="comment_id_type_loc">
				<li>Member#: <%= comment.member_id %></li>
				<li>Status: <%= comment.member_status %></li>
				<li>Location: <%= comment.location %></li>
			</ul>
		</div>
		<div class="comment_wrapper">
			<h4 class="comment_data"><%= comment.created_at %></h4>

			<!-- 	<form method="POST" action="/updatecomment">
					<input type="textarea" name="body" value="<%= comment.body %>">
					<input type="hidden" name="id" value="<%= comment.id %>">
					<input type="submit" value="edit">
				</form> -->
			
				<form id="delete_comment" method="POST" action="/xcomment">
      		<input type="hidden" name="_method" value="DELETE">
      		<input type="submit" value="delete">
    		</form>
			
			<p class="comment_body">
			<%= MARKDOWN.render(comment.body) %>
			</p>
		</div>
	</div>

	<% end %>
</div>

<aside>
	<div id='aside_wrap'>
		<p id='login_status'>
			Logged in as: <%= currentuser_username %>
		</p>

		<h2 class='cta'>DISPLAY BY:</h2>
			<form class='display_nav' action='/members/login' method='POST'>
			<input type='submit' name='newest' value='NEWEST'><br>
			<input type='submit' name='oldest' value='OLDEST'><br>
			<input type='submit' name='active' value='ACTIVE'>
		</form>

	</div>
<aside>