<div id="content">
	<div id="topic-view">
		<h3><a href="/topics/<%= @topic.id %>"><%= @topic.title %></a><h3>
		<p>
			<%= @topic.created_at %> by <%= @topic.author %>
		</p>
	</div>

	<form action='/comments' method='POST'>
		<input type='textarea' name='body'>
		<input type='hidden' name='topic_id' value="<%= @topic.id %>">
		<input type='hidden' name='ip' value="<%= request.ip %>">
		<input type='hidden' name='author' value="<%= currentuser_username %>">
		<input type='hidden' name='member_id' value="<%= currentuser_id %>">
		<input type='submit' value='comment'>
	</form>

	<% @comments.each do |comment| %>

		<div class="comment">
			<div class="comment_member_data">
				<h4 class="comment_author"><%= comment.author %></h4>
				<img class="comment_avatar" src="<%= comment.avatar %>">
				<ul class="comment_id_type_loc">
					<li>Member#: <%= comment.member_id %></li>
					<li>Status: <%= comment.member_status %></li>
					<li>Location: <%= comment.location %></li>
				</ul>
			</div>
			<div class="comment_wrapper">
				<h4 class="comment_data">
					<%= comment.created_at %><%= comment.location %>
				</h4>
				<p class="comment_body">
					<%= comment.body %>
				</p>
			</div>
		</div>

	<% end %>

</div>

<div id="aside">
	<h4>NEW COMMENT</h4>
	<h4>DISPLAY</h4>
	<ul>
		<li>NEWEST FIRST</li>
		<li>OLDEST FIRST</li>
		<li>TOP COMMENTERS</li>
	</ul>
</div>