<link rel="stylesheet" href='/css/topics.css'>

<div id="content">

	<br>
	<form id="new_topic_form"="/topics" method="POST">
		<input class="input" type="text" name="title" placeholder="New Topic...">
		<input type="hidden" name="member_id" value="<%= currentuser_id %>">
		<input type="hidden" name="ip" value="<%= request.ip %>">
		<input type="submit" name="submit">
	</form>

	<% @topics.each do |topic| %>
		<div class="topic">
			<h3 class="topic_title">
				<a href="/topics/<%= topic.id %>"><%= topic.title %></a>
			</h3>
			<ul>
				<li class="topic_data"> <%= topic.created_at %> </li>
				<li class="topic_data"> by <a href="/members/<%= topic.member_id %>"><%= topic.author %></a></li>
			</ul>
		</div>
		
	<% end %>

	<form id="new_topic_form"="/topics" method="POST">
		<input class="input" type="text" name="title" placeholder="New Topic...">
		<input type="hidden" name="member_id" value="<%= currentuser_id %>">
		<input type="hidden" name="ip" value="<%= request.ip %>">
		<input type="submit" name="submit">
	</form>
	<br>
	
</div>

<aside>
	<div id='aside_wrap'>
		<p id='login_status'>
			Logged in as: <%= currentuser_username %>
		</p>

		<form id="logout" method="POST" action="/logout">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Logout">
    </form>

		<h2 class='cta'>Display By:</h2>
		<form class='display_by' action='/topics/switch' method='POST'>
			<input type='submit' name='newest' value='TOP VOTED'><br>
			<input type='submit' name='newest' value='NEWEST FIRST'><br>
			<input type='submit' name='oldest' value='OLDEST FIRST'><br>
			<input type='submit' name='active' value='MOST ACTIVE'>
		</form>
	</div>
<aside>