<img src="<%= @member['img_url'] %>">
<h1><%= @member['username'] %></h1>
<ul>
	<li>Member #: <%= @member['id'] %></li>
	<li>Status: <%= @member['type'] %></li>
	<li>Member Since: <%= @member['join_date'] %></li>
</ul>	
<h3>Contact Info</h3>
<ul>
	<li>Name: <%= @member['name'] %></li>
	<li>Email: <%= @member['email'] %></li>
	<li>Location: TBD</li>
</ul>	
