<link rel="stylesheet" href='/css/topics.css'>

<div id="content">

	<% @topics.each do |topic| %>
		<div class="topic">
			<h3 class="topic_title">
				<a href="/topics/<%= topic.id %>"><%= topic.title %></a>
			</h3>
			<ul>
				<li class="topic_data"> <%= topic.created_at %> </li>
				<li class="topic_data"> by <a href="/members/<%= topic.member_id %>"><%= topic.author %></a></li>
			</ul>
		</div>
		
	<% end %>
	
</div>

<aside>
	<div id='aside_wrap'>
		<% if logged_in? %>
			<p id='login_status'>
				Logged in as: <%= currentuser_username %>
			</p>
			<form method="POST" action="/logout">
      	<input type="hidden" name="_method" value="DELETE">
      	<input type="submit" value="Logout">
    	</form>
		<% else %>
			<p id='login_status'>
				You are not logged in
			</p>
		<% end %> 

		<p id='member_alert'><%= @message %></p>

		<h2 class='cta'>Log-In</h2>
		<form class='login_signup' action='/members/login' method='POST'>
			<input type='text' name='username' placeholder='username'><br>
			<input type='text' name='password' placeholder='password'><br>
			<input type='submit' value='log-in'>
		</form>

		<h2 class='cta'>Sign-Up</h2>
		<form class='login_signup'  action='/members' method='POST'>
			<input type='text' name='name' placeholder='given name'><br>
			<input type='text' name='email' placeholder='email'><br>
			<input type='text' name='username' placeholder='desired username'><br>
			<input type='password' name='password' placeholder='password'></br>
			<input type='password' name='verification' placeholder='repeat password'></br>
			<input type='submit' value='sign-up'>
		</form>
	</div>
<aside>